.loop-banner-reward {
    color: white;
    background-image: url('https://cdn.shopify.com/s/files/1/0570/1196/2009/files/Group_12_2.svg?v=1693829253');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    border-radius: 19px;
}
